.weather-forecast-date {
  font-size: 22px;
  text-align: center;
  font-family: var(--paragraph-font-family);
  color: var(--primary-color);
}
.forecast-icon {
  width: 45px;
}
.weather-forecast-temperature {
  font-size: 19px;
  margin-left: 10px;
  font-family: var(--paragraph-font-family);
  color: var(--primary-color);
}
.weather_forecast {
  padding: 10px;
  margin-top: 100px;
  border-radius: 20px;
  font-family: var(--paragraph-font-family);
  color: var(--primary-color);
  background: linear-gradient(rgb(128, 128, 128, 0.3), rgb(41, 40, 40, 0.2));
  box-shadow: 1px -4px 15px 1px rgb(221 221 221 / 40%);
}

@media (max-width:600px){
  .weather_data {
    margin-top: 20px;
  }
  .weather_forecast {
    box-shadow: none;
  }
  .forecast {
    width: 350px;
  }
  .forecast_first {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
  .weather-forecast-date {
    font-size: 18px;
  }
  .forecast-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }
}