.city_navigation a {
  font-family: var(--paragraph-font-family);
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}
.city_navigation a:hover {
  color: var(--primary-color);
}

.city_navigation {
  text-align: center;
  padding: 8px;
  font-size: 20px;
}
